/* @import url('https://fonts.googleapis.com/css2?family=font-effect-fire-animation'); */
/*@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:700';

:root {
  --primary-color: rgb(75, 0, 130);
  --secondary-color: #25d4ac;
  --card-back-text: #BFB7B6;
  --anchor-color: #2b74d4;
}

* {
  font-family: roboto, arial, helvetica, sans-serif;
}


.portfolio {
  background-image: url(../images/Pngtree.jpg);
/*  background-image: url(../images/home-page.jpg); */
}

.container {
  margin-top: 3rem;

}

main {
  min-height: calc(100vh - 270px);
}

.about, .work-title, .contact-title, #resume{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--primary-color);
}

/* About */

.about {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--primary-color);

  outline-style:groove;
  outline-color: var(--primary-color);
}

#pfp {
  width: 250px;
  border-radius: 100%;
  padding-bottom: 2rem;
}

p {
  font-size: 1.3rem;
}

/* NAVBAR */
#nav {
  height: 75px;
/**/  background-color: var(--primary-color); /**/
}

.justify-content-center {
    justify-content: center!important;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

.nav-item li {
  color: var(--secondary-color);
}

.nav-item span {
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding-top: 2rem;
}

.nav-item span:hover {
  color: var(--anchor-color);
  cursor: pointer;
}

.nav-link {
    display: block;
    padding: 1rem 1rem;
}

.nav-link span{
  color: var(--secondary-color);

}

.navActive span{
  color: white;
  text-decoration: none;
}

/* PROJECTS */

.project-items {
  width: 23.438rem;
  height: 12.5rem;
  border: 2px solid black;
  margin: 1rem;
  padding: 0 !important;
  position: relative;
}

.projects {
  padding-top: 2rem;
}

.project-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*additions when hover is removed*/
  filter: blur(3px) brightness(30%);
}

.image-text {
  position:absolute;
  top: 8px;
  left: 16px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .6s;
  color: var(--secondary-color);
}

.image-text h4 {
  font-weight: bolder;
}

.image-text p {
  /*color: var(--card-back-text);*/
  color: white;
  font-size: 1rem;
}

.image-text a {
  text-decoration: none;
  color: var(--secondary-color);
  padding-right: 1rem;
}

.image-text a:hover {
  color: white;
}
/* REMOVED ( .project-items:hover ) */
.project-items .image-text {
  visibility: visible;
  opacity: 2;
}
/*
.project-items:hover img{
  filter: blur(3px) brightness(50%);
} */

/* Contact */
#contact-form {
  padding-left: 10%;
  padding-right: 10%;
}

#contact-form .btn{
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/* RESUME*/

.container #resume {
  backdrop-filter: blur(10px);
}

#resume .btn{
  background-color: var(--primary-color);
  transition: .3s; 
}

#resume a {
  text-decoration: none;
  color: var(--secondary-color);
}

#resume .btn:hover {
  animation: pulse 1s infinite;
  transition: .3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}


.skills-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skills-wrapper ul {
  padding: 0;
}

.skills-wrapper li {
  list-style-type: none;
  font-size: 1.3rem;
}

/* FOOTER */
footer h3 {
  font-weight: bold;
  font-size: 1.8rem;
 
}

footer {
  height: 100px;
  border-top: 2px solid var(--primary-color);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

footer p {
  margin-top: 1rem;
}

.socials {
/**/  color: var(--primary-color); /**/
  width: 100%;
  text-align: center;
  margin-top: auto;
}

footer i {
  width: 100%;
  height: 16px;
  padding: .8rem;
/**/  color: var(--primary-color); /**/

/*bounce effect
position: absolute; 
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
*/
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: var(--primary-color);
border-radius: 50px;
}

footer i:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
/*bounce effect
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;

  will-change: transform;
    transform: perspective(1000px) rotateX(
0deg
) rotateY(
0deg
) scale3d(1, 1, 1);
*/
}
/*bounce effect
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
*/

/* Media Queries */
@media (max-width: 360px) {
  .nav-item span {
    font-size: 1.3rem;
  }
}

@media (max-width: 405px) {
  .nav-item span {
    font-size: 1.4rem;
  }
}

@media (max-width: 575px) {
  .project-items {
    width: 80vw !important;
  }  
  .image-text p {
    font-size: 1rem;
  }
}

@media (max-width: 770px) {
 .skills-wrapper {
    flex-direction: column;
  }

 .back-end {
   padding-top: 2rem;
 }
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
  }

  .work-row-2 {
    margin-top: -2rem;
  }
}

@media (max-width: 991px) {
  .card-container {
    margin-top: 2rem;
  }
}